<section
  class="w-full flex flex-col md:flex-row items-center justify-center
         px-6 md:px-16 lg:px-24 py-48 bg-blancoRoto"
>
  <!-- COLUMNA IZQUIERDA -->
  <div class="md:w-1/2 w-full mb-10 md:mb-0 md:pr-10 text-justify sm:text-left">
    <h2
      class="text-3xl md:text-4xl font-semibold mb-8
             text-center sm:text-left leading-snug text-burdeaux"
    >
      La Tradizione Emiliana
    </h2>

    <div class="h-[4px] w-32 bg-amarillo mx-auto sm:mx-0 my-8"></div>

    <p class="text-base md:text-lg leading-relaxed mb-4">
      L'Emilia-Romagna è terra di sapori autentici, dove ogni piatto racconta
      una storia di tradizione e passione. Oltre alla famosa lasagna alla
      bolognese,
      <strong>
        la nostra regione custodisce tesori gastronomici meno conosciuti ma
        ugualmente straordinari.
      </strong>
    </p>

    <p class="text-base md:text-lg leading-relaxed mb-4">
      Alla Casona Tutti Fritti, celebriamo l'autentica cucina emiliana, quella
      delle famiglie, delle feste paesane e dei sapori dimenticati. Un viaggio
      culinario che va oltre i classici, per scoprire il vero cuore della nostra
      terra.
    </p>

    <div
      class="flex items-center justify-center sm:justify-start
             gap-2 sm:gap-4 py-2 sm:py-4"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chef-hat-icon lucide-chef-hat w-10 h-10 md:w-12 md:h-12 text-burdeaux" fill="currentColor"><path d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"/><path d="M6 17h12"/>
      </svg>
      <span
        class="text-burdeaux text-base sm:text-lg md:text-xl font-semibold"
      >
        Ricette tramandate di generazione in generazione
      </span>
    </div>
  </div>

  <!-- COLUMNA DERECHA -->
  <div class="md:w-1/2 w-full flex justify-center">
    <img
      src="/assets/fotos/pasta.webp"
      alt="Il team della Casona Tutti Fritti in posa nella sala del ristorante"
      class="object-cover max-w-full h-auto"
      loading="lazy"
    />
  </div>
</section>
