---
import CTAActions2 from "@/components/bloques/CTAActions2";
---

<section class="bg-amarilloPastel/20 pt-12 text-center">
  <h2 class="text-3xl sm:text-4xl text-burdeaux mb-4 font-bold mx-6">
    Parliamo del tuo evento?
  </h2>

  <p class="max-w-2xl mx-6">
    Siamo qui per trasformare la tua visione in realtà. Contattaci e iniziamo a pianificare insieme.
  </p>

  <div class="flex justify-center items-center">
    <div class="flex flex-1 gap-x-1 mx-[70%]">
      <!-- React island -->
      <CTAActions2 client:load />
    </div>
  </div>
</section>
