---
import TestimoniosWidget from "@/components/bloques/TestimoniosWidget.tsx";
---

<section class="py-20 bg-white text-center">
  <div class="max-w-6xl mx-auto px-4">

    <h2 class="text-3xl sm:text-4xl font-bold text-burdeaux mb-4 mx-6">
      Le Vostre Parole Parlano per Noi
    </h2>

    <p class="mb-12 max-w-4xl mx-6">
      Se volete un evento di successo senza intoppi e la garanzia di rendere felici i vostri ospiti,
      <strong> allora volete La Casona Group.</strong>
    </p>

    <!-- React island -->
    <TestimoniosWidget client:load />

  </div>
</section>
