---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import MenuLayout from "@/components/layouts/MenuLayout.astro";


const title =
  "Menù Ristorante La Casona Tutti Fritti | Cucina Emiliana a Bologna";

const description =
  "Scopri il menù del ristorante La Casona Tutti Fritti a Bologna: crescentine, tigelle e piatti della tradizione emiliana, preparati con ingredienti selezionati di qualità.";

const canonical =
  "https://lacasonagroup.it/ristorante/menu/";

const images = [
  "/assets/fotos/menu/01.webp",
  "/assets/fotos/menu/02.webp",
  "/assets/fotos/menu/03.webp",
  "/assets/fotos/menu/04.webp",
];

const images_en = [
  "/assets/fotos/menu/01-en.webp",
  "/assets/fotos/menu/02-en.webp",
  "/assets/fotos/menu/03-en.webp",
  "/assets/fotos/menu/04-en.webp",
];
---
<BaseLayout title={title} description={description} canonical={canonical}>
    <MenuLayout>
      <section class="w-full min-h-screen flex flex-col items-center py-16 bg-pastel">
        <div class="max-w-6xl p-4 grid grid-cols-1 md:grid-cols-2 gap-8">
          {images.map((src, i) => (
            <img
              src={src}
              alt={`Pagina del menu ${i + 1}`}
              class="w-full h-auto shadow-md rounded-lg
                    transition-transform duration-300
                    hover:scale-[1.02]"
              loading="lazy"
              decoding="async"
            />
          ))}
        </div>
      </section>
    </MenuLayout>
</BaseLayout>