---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import ReturnLayout from "@/components/layouts/ReturnLayout.astro";

const title =
  "";

const description =
  "";

const canonical =
  "https://lacasonagroup.it/mappa-sito/";
---

<BaseLayout title={title} description={description} canonical={canonical}>
  <ReturnLayout>
    <section class="flex flex-col items-center gap-6 py-12 text-center">

     

    </section>
  </ReturnLayout>
</BaseLayout>