
/* LEXEND ZETTA */
@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Zetta';
  src: url('/assets/fonts/lexend-zetta-v32-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* OUTFIT */
@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/assets/fonts/outfit-v15-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* BABYLONICA */
@font-face {
  font-family: 'Babylonica';
  src: url('/assets/fonts/babylonica.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

