---
import { CateringHeader }from "@/components/layouts/CateringHeader.tsx";
//import CateringHeader from "@/components/layouts/CateringHeader.astro";
import CateringFooter from "@/components/layouts/CateringFooter.astro";
import Preloader from "../bloques/Preloader";
---

<div class="min-h-screen flex flex-col">
  <CateringHeader client:load/>
  <!--CateringHeader/-->
  <main class="flex-1 bg-white pt-0">
    <!-- Preloader: se ejecuta solo en cliente -->
    <Preloader client:load />
    <slot />
  </main>
  <CateringFooter/>
</div>
