<header class="w-full border-b border-border/50 bg-white py-6 shadow-sm">
  <div class="flex justify-center items-center mx-12 sm:mx-24 md:mx-32 lg:mx-64 xl:mx-96 2xl:mx-128">
    <a href="/" class="flex flex-col items-center">
      <img
        src="/assets/svg/LaCasonaGroup.svg"
        alt="Logo La Casona Group"
        class="h-8 sm:h-12 md:h-16 w-auto"
      />
    </a>
  </div>
</header>