<header class="w-full border-b border-border/50 bg-white py-6 shadow-sm">
  <div class="flex justify-center items-center mx-12 sm:mx-24 md:mx-32 lg:mx-64 xl:mx-96 2xl:mx-128">
    <a href="/" class="flex flex-col items-center">
      <!--img
        src="/assets/svg/LaCasonaGroup.svg"
        alt="Logo La Casona Group"
        class="h-8 sm:h-12 md:h-16 w-auto"
      /-->
      <h1
        class="whitespace-nowrap flex items-center justify-center
              w-full
              text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl
              font-normal tracking-[0.01em]
              leading-none
              text-black
              text-center"
      >
        LA CASONA GROUP
      </h1>
    </a>
  </div>
</header>