---
import MainHeader from "./MainHeader.astro";
import MainFooter from "./MainFooter.astro";
---

<div class="flex min-h-screen flex-col">
  <MainHeader />

  <main class="flex-1">
    <slot />
  </main>

  <MainFooter />
</div>
<script is:inline>
  if (window.location.pathname === "/" && window.location.search.includes("from=contatti")) {
    window.location.hash = "#trovaci-su";
  } else if (window.location.pathname === "/" && window.location.search.includes("from=intervista")) {
    window.location.hash = "#intervista";
  }
</script>