---
import ReturnHeader from "@/components/layouts/ReturnHeader.astro";

import RistoranteFooter from "./RistoranteFooter.astro";
---

<div class="flex min-h-screen flex-col">
  <ReturnHeader />

  <main class="flex-1 bg-white pt-0">
    <slot />
  </main>

  <RistoranteFooter/>
</div>
