<!-- Intervista / Video -->
<section id="intervista"
  class="flex flex-col w-full py-[8%] lg:py-[4%] bg-burdeauxOscuro"
>
  <div class="flex flex-col flex-1 justify-center items-center w-full">
    <h3
      class="text-3xl md:text-4xl font-semibold mb-10 md:mb-18 text-center mx-1 md:mx-6 text-white"
    >
      Il Racconto della Nostra Storia
    </h3>
    <div class="max-w-7xl w-[95%] sm:w-[98%] aspect-video">
      <iframe
        class="w-full h-full rounded-xs shadow-lg"
        src="https://www.youtube.com/embed/wg95iwM59Vk"
        title="La Nostra Storia"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        aria-label="I fondatori raccontano l’origine del progetto, i valori che ispirano ogni servizio e l’amore che guida ogni piatto."
      ></iframe>
    </div>
  </div>
</section>
