<!-- Intervista / Video -->
<section
  class="flex flex-col w-full py-[15%] lg:py-[8%] bg-burdeauxOscuro"
>
  <div class="flex flex-1 justify-center items-center w-full">
    <div class="max-w-7xl w-[95%] sm:w-[98%] aspect-video">
      <iframe
        class="w-full h-full rounded-xs shadow-lg"
        src="https://www.youtube.com/embed/wg95iwM59Vk"
        title="La Nostra Storia"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        aria-label="I fondatori raccontano l’origine del progetto, i valori che ispirano ogni servizio e l’amore che guida ogni piatto."
      ></iframe>
    </div>
  </div>
</section>
