<section id="trovaci-su"
  class="flex flex-col items-center justify-center
         mb-[25%] sm:mb-[15%] lg:mb-[10%]
         gap-10 lg:gap-16"
>
  <h3 class="text-3xl md:text-4xl font-semibold mb-10">
    Trovaci Su
  </h3>

  <div
    class="flex flex-col gap-y-24 md:gap-x-16 md:flex-row
           justify-center gap-8
           w-full max-w-7xl px-6"
  >

    <!-- ================== LOCATION 1 ================== -->
    <div class="flex flex-col items-center w-full md:w-1/3">

      <div class="w-full aspect-video">
        <iframe
          class="w-full h-full shadow-md"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2839.425738781016!2d11.191446176707325!3d44.62921488876086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fc5050ece1f71%3A0x219ed88570f80516!2sLa%20Casona%20Tutti%20Fritti!5e0!3m2!1ses!2ses!4v1759942114914!5m2!1ses!2ses"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="La Casona Tutti Fritti Location"
        ></iframe>
      </div>

      <div class="my-8 space-y-2 text-gray-700">
        <p class="text-base md:text-lg font-semibold text-black">
          La Casona Tutti Fritti
        </p>

        <a
          href="https://maps.app.goo.gl/yVT6gUK1UKf9tL8c9"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin" fill="currentColor">
            <path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/>
          </svg>
          <span>Via Bologna 114/B | San Giovanni in P. (BO)</span>
        </a>

        <a
          href="mailto:sede@lacasonagroup.it"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail w-5 h-5 flex-shrink-0" fill="currentColor"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
          <span>sede@lacasonagroup.it</span>
        </a>

        <a
          href="tel:+390516871713"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
        </svg>
          <span>+39 051 6871713</span>
        </a>
      </div>
    </div>

    <!-- ================== LOCATION 2 ================== -->
    <div class="flex flex-col items-center w-full md:w-1/3">
      <div class="w-full aspect-video">
        <iframe
          class="w-full h-full shadow-md"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2840.269661503967!2d11.297899376706646!3d44.61196118989572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fcfb39168e4f5%3A0x731f9ea32cbef2f!2sLa%20Casona%20Group%20S.r.l.!5e0!3m2!1ses!2ses!4v1759941986649!5m2!1ses!2ses"
          loading="lazy"
          title="La Casona Eventi Location"
        ></iframe>
      </div>

      <div class="my-8 space-y-2 text-gray-700">
        <p class="text-base md:text-lg font-semibold text-black">
          La Casona Eventi
        </p>

        <a
          href="https://maps.app.goo.gl/z3Dygb46j7RyFX44A"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin" fill="currentColor"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/>
          </svg>
          Via Matteotti, 39/B | Sala Bolognese (BO)
        </a>

        <a
          href="mailto:wedding@lacasonagroup.it"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail w-5 h-5 flex-shrink-0" fill="currentColor"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
         <span>wedding@lacasonagroup.it</span>
        </a>

        <a
          href="tel:+3905119906544"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone"><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
        </svg>
          <span>+39 051 19906544</span>
        </a>
      </div>
    </div>

    <!-- ================== LOCATION 3 ================== -->
    <div class="flex flex-col items-center w-full md:w-1/3">
      <div class="w-full aspect-video">
        <iframe
          class="w-full h-full shadow-md"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2840.345981752317!2d11.298855976706585!3d44.61040058999821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477fce6c74ea048f%3A0xa72e190af8b70e76!2sIl%20Fienile!5e0!3m2!1ses!2ses!4v1759942160755!5m2!1ses!2ses"
          loading="lazy"
          title="Il Fienile Location"
        ></iframe>
      </div>

      <div class="my-8 space-y-2 text-gray-700">
        <p class="text-base md:text-lg font-semibold text-black">
          Il Fienile
        </p>

        <a
          href="https://maps.app.goo.gl/PwzUUnXLxjBT2vDs7"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin-icon lucide-map-pin" fill="currentColor"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/>
          </svg>
          Via Matteotti, 54/A | Sala Bolognese (BO)
        </a>

        <a
          href="mailto:sede@lacasonagroup.it"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail-icon lucide-mail w-5 h-5 flex-shrink-0" fill="currentColor"><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
          <span>sede@lacasonagroup.it</span>
        </a>

        <a
          href="tel:+39051828296"
          class="flex items-center gap-2 hover:text-burdeaux transition-colors"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-phone-icon lucide-phone" ><path d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384"/>
        </svg>
          <span>+39 051 828296</span>
        </a>
      </div>
    </div>
  </div>

  <!-- Decorative SVG -->
  <div class="flex justify-center pt-8 pb-24">
    <img
      src="/assets/svg/CirculosCasona.svg"
      alt="Logo La Casona"
      class="max-h-24 w-[40vw] max-w-[300px] pointer-events-none"
    />
  </div>
</section>

<!-- ================== ICONS ================== -->
<Fragment slot="icons">
  <svg
    class="w-5 h-5"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  ></svg>
</Fragment>

